/* DEFINING THE BODY */

html {
	font-family: siteFont, "Century Gothic", Tahoma;
	scroll-behavior: smooth;
	}
	
* {
	box-sizing: border-box;
	}

body {
	height: 100vh;
	margin: 0 auto;
  	color: #333333;
	font-size: 16px;
	font-family: siteFont, Tahoma;
  	}
	
@font-face {
	font-family: siteFont;
	src: url(../Fonts/KozGoPro-Regular.otf);
	}

.logo {
	display: block;
	height: 100%;
	}

.responsive {
	max-width: 100%;
	height: auto;
	}

/***********************/	
/* Social Media Button */
/***********************/

#socMed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-left: 7px;
	background: #303030;
	}

.btnsocMed {
	height: 30px;
	width: 30px;
	margin-bottom: 20px;
	border-radius: 3px;
	background: #303030;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	box-shadow: -1px -1px 5px 0px rgba(153, 153, 153, 0.2), 
			5px 5px 30px 1px rgba(0, 0, 0, 0.5);
	transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.8);
	font-size: 14px;
	color: rgba(42, 52, 84, 1);
	text-decoration: none;
	}

.btnsocMed a:hover {
	color: #990099;
	}
	
.btnsocMed:active {
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
				-4px -4px 6px 0 rgba(116, 125, 136, .2), 
				inset -4px -4px 6px 0 rgba(255,255,255,.5),
				inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
	}

:root {
  --gray: rgba(153, 0, 153, 0.9);
  --size: 200px;
  --scalingFactor: calc(100 / 25); /*related to size*/
}

.trigger {
  position: fixed;
  top: 1%;
  left: 90%;
  transform: translate(-50%,-50%);
  height: var(--size);
  width: var(--size);
  margin: 10px;
  background: var(--gray);
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 2px dotted #ffffff;
}

.trigger {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 50px;
  font-family: Century Gothic;
}

.trigger a {
  color: #ffffff;
  text-decoration: none;
}

.trigger a:hover {
  color: #ffffff;
  text-decoration: none;
}

/******************/	
/* Section Reveal */
/******************/

section {
	min-height: 100vh;
	display: flex;
	}

.reveal	{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
	}

.reveal.active	{
	transform: translateY(0);
	opacity: 1;
	}

/******************************************/	
/* Start defining the top bar navigation. */
/*****************************************/
	
.topnav {
	z-index: 9;
	display: block;
	height: 70px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	opacity: 0.8;
	}

.topnav-right {
	z-index: 9;
	display: block;
	width: 70%;
	height: 80px;
	text-align: right;
	float: right;
	padding-right: 100px;
	padding-top: 20px;
	margin-top: -60px;
	}

.topnav .icon {
	display: none;
	}
	
.gsMenu {
	font-family: siteFont, Century Gothic;
	font-variant: small-caps;
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 3px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-right: 30px;
	height: 80px;
	} 	

/****************/	
/* Overlay Menu */
/****************/

.overlay {
	z-index: 12;
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: 0.5s;	
	background: linear-gradient(-45deg, #000033, #000033, #000066, #990099, #000033);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;	
	}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 95%;
	}
	
.overlayMenu {
	width: 100%;
	display: block;
	text-align: center;
	color: #ffffff;
	background-color: transparent;
	font-family: Century Gothic, siteFont;
	font-variant: small-caps;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	text-decoration: none;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 50px;
	}

.overlayMenu a {
	text-decoration: none;
	padding: 8px;
	font-size: 36px;
	color: #ffffff;
	transition: 0.3s;
	}

.overlayMenu a:hover {
	color: #f1f1f1;
	}

.overlayMenu a:focus {
	color: #f1f1f1;
	}

.overlay .closebtn {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 30px;
	text-decoration: none;
	color: #ffffff;
	}	

.overlay .closebtn a:hover {
	color: #990099;
	}		

/****************/	
/* Sidebar Menu */
/****************/

.sidenav {
	display: block;
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 10;
	top: 100;
	right: 0;
	background-color: #303030;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: 0 1px 10px #000000;
	padding: 6px 8px 6px 0px;
}

.menuIcon {
	display: block;
	height:10%; 
	font-size:20px; 
	cursor:pointer; 
	padding-left:15px; 
	padding-top:0px; 
	color:#cccccc;
	}

.menuText {
	display: block;
	font-size:10px; 
	padding-left:10px; 
	margin-top:-35px; 
	color:#cccccc;
	}
	
.verticalFeedback {
	height: 130px;
	text-align: center;
	writing-mode: vertical-lr; 
	position: absolute; 
	font-family: siteFont, Tahoma;
	background-color:#999708;
	color:#ffffff;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 700px;
	margin-left: 0px;
	padding: 37px 10px 50px 20px;
	width: 60px;
	text-decoration: none;
	}
	
.verticalFAQ {
	height: 80px;
	text-align: center;
	writing-mode: vertical-lr; 
	position: absolute; 
	font-family: siteFont, Tahoma;
	background-color:#80A629;
	color:#ffffff;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 910px;
	margin-left: 0px;
	padding: 23px 10px 50px 20px;
	width: 60px;
	text-decoration: none;
	}
	
.verticalScroll {
	height: 180px;
	text-align: left;
	writing-mode: vertical-lr; 
	position: absolute; 
	font-family: siteFont, Tahoma;
	font-color:#ffffff;
	font-size: 10px;
	letter-spacing: 2px;
	margin-left: 5px;
	margin-top: 280px;
	padding: 20px 0px 50px 0px;
	width: 60px;
	}		

/******************/
/* Opening        */
/******************/

.slideshow {
  position: relative;
  color: #ffffff;
  background-color: ##999708;
  overflow: hidden;
  height: 100vh;
  min-height: 400px;
}

.slideCaption {
	display: block;
	max-width: 70%;
	font-family: siteFont, Century Gothic;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 2;
	margin-top: 0px;
	padding-bottom: 0px;
	}		

/************************/
/* Products and Services */
/************************/

.firstParallax{ 
	text-align: center;
	color: var(--color);
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../Images/bgProducts.png);
	background-size: cover;
	background-position: center;
  
/*  this is where the magic happens:  */
	background-attachment: fixed;
	}
	
.product-container {
	max-width: 1400px;
	position: relative;
	margin: auto;
	padding-bottom: 0px;
	}

#section {
	width: 95%;
	text-align: left;
	}	
	
#productsTitle {
	font-family: siteFont, Tahoma;
	font-size: 36px;
	padding-right: 50px;
	margin-top: 50px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	text-align: right;
	}
	
.containerProducts {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	height: 50vh;
	}
		
.textProducts {
	font-family: siteFont, Tahoma;
	font-size: 18px;
	color: #333333;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 50px;
	text-align: right;
	}

.box1 {
	flex: 1;
	overflow: hidden;
	transition: .5s;
	margin: 0 2%;
	box-shadow: 0 5px 10px rgba(146,146,146,.2);
	line-height: 0;
	}

.box1 > img {
	width: 200%;
	height: calc(100% - 10vh);
	object-fit: cover; 
	transition: .5s;
	}

.box1 > span {
	font-size: 14px;
	font-family:  siteFont, Tahoma;
	display: block;
	text-align: center;
	height: 10vh;
	padding-top: 20px;
	line-height: 1.6px;
	border: 0px solid white;
	}

.box1:hover { flex: 1 1 50%; }
.box1:hover > img {
	width: 100%;
	height: 100%;
	}

.pageMenuColumn {
	display: block;
	border: 0px dotted #cccccc;
	width: 80%;
	margin-top: 260px;
	margin-left: 0px;
	margin-right: 10px;
	background-color: transparent;
	float: left;
	text-align: right;
	font-family: siteFont, Tahoma;
	}
	
.verticalText {
	writing-mode: vertical-lr; 
	position:absolute; 
	font-family:  siteFont, Tahoma;
	font-size: 24px;
	margin-top: 30px;
	letter-spacing: 3px; 
	padding-left: 10px;
	}
	
.productButton { 
	font-family:  Century Gothic;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	padding-top: 30px;
	padding-right: 50px;
	text-align: right;
	}
	
.productButton a {
	box-shadow: inset 0 0 0 0 #333333;
	color: #333333;
	margin: 0 -.25rem;
	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-decoration: none;
	}
	
.productButton a:hover {
	box-shadow: inset 150px 0 0 0 #990099;
	color: white;
	padding: 5px;
	border: 1px dotted #333333;
	}

/********************************/	
/* Start defining the Accordion */ 	
/********************************/	

.accordion {
	font-family: siteFont, Tahoma;
	letter-spacing: 2px;
	display: block;
	color: #333333;
	cursor: pointer;
	padding-top: 18px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 0px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	}

.accordion:after {
	content: '\25bc'; 
	font-family:Century Gothic;
	font-size: 12px;
	color: #990099;
	font-weight: bold;
	float: right;
	margin-top: 0px;
	}

.active:after {
	content: "";
	}

.panel {
	border-bottom: 1px dotted #333333;
	padding: 0px 25px 0px 25px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	}
	
.panelText {
	font-size: 14px; 
	text-align: left; 
	letter-spacing: 1px;	
	}

/***********/
/* Clients */
/***********/

#clients {
	max-width: 100%;
  	background:  url(../Images.png) no-repeat center top;
	background-color: #999708;
	font-family: siteFont, Tahoma;
	padding-top: 50px;
	padding-bottom: 50px;
	}

#clients-container {
	max-width: 1400px;
	position: relative;
	background-color: #999708;
	margin: auto;
	font-family: siteFont, Tahoma;
	padding-bottom: 30px;
	}
	
.subHeading {
	font-size: 14px;
	margin-left: 0px;
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 12px;	
	color: #ffffff;
	}
	
.question {
	font-family: Century Gothic, Tahoma;
	color: #ffffff;
	line-height: 90px;
	font-size: 80px; 
	font-weight: bold; 
	}
	
.clientQuote {
	font-family: siteFont, Tahoma;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 30px;
	text-align: left; 
	color: #ffffff; 
	border-left: 1px dotted #cccccc;
	margin-left: 50px;
	}
	
.clientName {
	font-family: siteFont, Tahoma;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 0px;
	text-align: left; 
	color: #ffffff; 
	margin-left: 50px;
	}	
	
.clientButton {
	font-family: Century Gothic;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 2px;
	padding-top: 250px;
	}
	
.clientButton a {
	box-shadow: inset 0 0 0 0 #ffffff;
	color: #ffffff;
	margin: 0 -.25rem;
	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-decoration: none;
	border: 0px solid #cccccc;
	}
	
.clientButton a:hover {
	box-shadow: inset 100px 0 0 0 #990099;
	color: white;
	padding: 5px;
	border: 1px dotted white;
	}

/*******************/
/* Global Partners */
/*******************/

.secondParallax { 
	text-align: center;
	color: var(--color);
	width: 100%;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../Images/bgPartners.png);
	background-size: cover;
	background-position: center;
  
/*  this is where the magic happens:  */
	background-attachment: fixed;  
	}
	
#partners-container {
	max-width: 1400px;
	display: block;
	margin-top: 0px;
	position: relative;
	margin: auto;
	padding-bottom: 50px;
	}	
	
#partnersTitle {
	font-family: siteFont, Tahoma;
	font-size: 36px;
	padding-left: 50px;
	margin-top: 50px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	text-align: center;
	}
		
.textPartners {
	font-family: siteFont, Tahoma;
	font-size: 18px;
	color: #333333;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 50px;
	text-align: center;
	}

/**********************/	
/* Parallax Horizontal*/
/**********************/

/* hide scrollbar */
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
	}

::-webkit-scrollbar-button {
	width: 1px;
	height: 1px;
	}

.external {
	display: block;
	overflow: hidden;
	height: 250px; /*  image bottom padding  */
	width: 1200px;
	margin-top: 0px;
	margin-bottom: 50px;
	}

.horizontal-scroll-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px; /*  image top padding  */
	transform: rotate(-90deg) translate3d(0,-400px,0); /*  image right padding */
	transform-origin: right top;
	overflow-y: auto;
	overflow-x: hidden;
	height: 1400px; /*  display right scrolling cut  */
	perspective: 1px;
	transform-style: preserve-3d;
	padding-bottom: 100px;
	}

.img-wrapper {
	display: block;
	transform: rotate(90deg);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	min-height: 400px; /*  spaces between images*/
	}

.img-wrapper:hover {
	min-height: 65vh;
	}

.slower {
	transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
	}

.img-wrapper a {
	overflow: hidden;
	display: block;
	padding: 10px; /* image padding  */
	background: #efecdb;
	box-shadow: 0 10px 50px #b9b9da;
	}

img {
	max-width: 45vh;
	max-height: 50vh;
	transition: .5s;
	vertical-align: top;
	}
	
img a:hover {
  filter: none;
}

.scroll-info {
	display: flex;
	align-items: center;
	}	
	
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	width: 100%;
	}

[class*="col-"] {
	float: left;
	padding: 0px;/* 55px original */
	}
	
/* Clear floats after the columns */
	
.column {
	position: relative;
	display: inline-block;
	float: left;
	width: 25%; 
	}

/************/
/* About Us */
/************/

#about {
	max-width: 100%;
	display: block;
  	background:  url(../Images.png) no-repeat center top;
	background-color: #80A629;
	font-family: siteFont, Tahoma;
	padding-top: 50px;
	padding-bottom: 50px;
	}

#about-container {
	max-width: 1400px;
	display: block;
	position: relative;
	background-color: #80A629;
	margin: auto;
	font-family: siteFont, Tahoma;
	}
	
.aboutButton {
	font-family: Century Gothic;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 2px;
	padding-top: 250px;
	}
	
.aboutButton a {
	box-shadow: inset 0 0 0 0 #ffffff;
	color: #ffffff;
	margin: 0 -.25rem;
	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-decoration: none;
	border: 0px solid #cccccc;
	}
	
.aboutButton a:hover {
	box-shadow: inset 100px 0 0 0 #990099;
	color: white;
	padding: 5px;
	border: 1px dotted white;
	}

/********/
/* FAQs */
/********/

#faq {
	display: block;
	max-width: 100%;
  	background:  url(../Images.png) no-repeat center top;
	background-color: #cccccc;
	font-family: siteFont, Tahoma;
	padding-top: 100px;
	padding-bottom: 50px;
	}

#faq-container {
	display: block;
	max-width: 1400px;
	position: relative;
	background-color: #cccccc;
	margin: auto;
	font-family: siteFont, Tahoma;
	}	
	
.faqTitle {
	font-family: Century Gothic, Tahoma;
	line-height: 3px;
	font-size: 40px; 
	font-weight: bold; 
	letter-spacing: 3px; 
	color: #333333;
	}
	
#faqQuestion {
	font-family: sitefont, Tahoma;
	line-height: 3px;
	font-size: 18px; 
	letter-spacing: 1px; 
	color: #333333;
	padding-bottom: 25px;
	}

.faqAccordion {
	display: block;
	width: 90%;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 10px;
	background-color: transparent;
	float: left;
	text-align: left;
	font-family: siteFont, Tahoma;
	color: #333333;
	}	

.accordionFaq {
	font-family: siteFont, Tahoma;
	letter-spacing: 2px;
	display: block;
	color: #333333;
	cursor: pointer;
	padding-top: 18px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 0px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
	}

.accordionFaq:after {
	content: '\25bc'; 
	font-family:Century Gothic;
	font-size: 12px;
	color: #990099;
	font-weight: bold;
	float: right;
	margin-top: 0px;
	}

.panelFaq {
	border-bottom: 1px dotted #333333;
	padding: 0px 25px 0px 25px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	text-align: left;
	font-family: siteFont, Tahoma;
	letter-spacing: 1px; 
	}
	
.faqButton {
	font-family: Century Gothic;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	padding-top: 50px;
	padding-right: 0px;
	text-align: right;
	}
	
.faqButton a {
	box-shadow: inset 0 0 0 0 #333333;
	color: #333333;
	margin: 0 -.25rem;
	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-decoration: none;
	}
	
.faqButton a:hover {
	box-shadow: inset 120px 0 0 0 #990099;
	color: white;
	padding: 5px;
	border: 1px dotted #333333;
	}
	
/**********/	
/* Footer */
/**********/
	
#footer {
	max-width: 100%;
	display: block;
  	background:  url(../Images/footerAgencyBg.png) no-repeat center top;
	font-family: siteFont, Tahoma;
	padding-left: 25px;
	background-color: #000066;
	}
	
.footer-container {
	max-width: 1400px;
	position: relative;
	margin: auto;
	color: #ffffff;
	font-family: siteFont, Tahoma;
	background-color: #000066;
	}
	
.footerHeading {
	width: 100%;
	display: block;
	margin-left: 0px;
	color: #ffffff;
	background-color: transparent;
	font-family: Century Gothic, siteFont;
	font-variant: small-caps;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	text-decoration: none;
	border-bottom: 0px dotted #cccccc;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
.menuFooterList {
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 2px;
	border-bottom: 0px dotted #ffffff;
	}
	
.menuFooterList a {
	box-shadow: inset 0 0 0 0 #ffffff;
	color: #ffffff;
	margin: 0 -.25rem;
	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-decoration: none;
	}
	
.menuFooterList a:hover {
	box-shadow: inset 300px 0 0 0 #990099;
	color: white;
	}
	
.textFooter {
	font-size: 14px;
	margin-left: 0px;
	color: #ffffff;
	text-decoration: none;
	padding-bottom: 5px;
	padding-left: 25px;
	letter-spacing: 2px;
	}
	
.textFooterTiny {
	font-size: 11px;
	margin-left: 0px;
	color: #ffffff;
	text-decoration: none;
	padding-left: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
.textButtonFaq a:hover {
	box-shadow: inset 100px 0 0 0 #990099;
	color: white;
	}
	
/***************/	
/* Back to Top */
/***************/	
.back-to-top {
	position: fixed;
	z-index: 10;
	bottom: 10px;
	right: 0px;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(51, 51, 51, 1.0);
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 10px;
	display: none;
	/*
	opacity: 0.75;
	filter: alpha(opacity=75);  */
	}

.back-to-top:hover {    
    background-color: #303030;
	}
	
/**********/	
/* Scroll */
/**********/

.scrollDown { /* scrolldown */
	position: relative;
	z-index: 10;
	bottom: 191px;
	right: 100px;
	display: block;
	/*
	opacity: 0.75;
	filter: alpha(opacity=75);  */
	}

.scrollDown:hover {    
    background-color: transparent;
	position: relative;
	}
	
/****************/	
/* Other Devices*/
/****************/
		
@media screen and (min-width: 1600px) {

.logo {
	width: 274px;
	height: 25px;	
	}
		
}	

@media screen and (max-width: 1599px) {

.logo {
	width: 274px;
	height: 25px;	
	}
	
}

@media screen and (max-width: 1000px) {

.topnav-right {
	visibility: hidden;
	}

.logo {
	width: 241px;
	height: 22px;	
	}

.slideCaption {
	display: block;
	width: 70%;
	font-family: siteFont, Century Gothic;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 2;
	margin-top: 140px;
	padding-bottom: 0px;
	}
	
}

@media screen and (max-width: 800px) {

.topnav-right {
	visibility: hidden;
	}

.logo {
	width: 219px;
	height: 20px;	
	}

.slideCaption {
	display: block;
	width: 70%;
	font-family: siteFont, Century Gothic;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 2;
	margin-top: -140px;
	padding-bottom: 0px;
	}
	
}

@media screen and (max-width: 600px) {	
	
.topnav {	
	background: linear-gradient(-180deg, #ffffff, transparent);
	opacity: 0.5;
	}

.topnav-right {
	visibility: hidden;
	}	

.dot, .trigger {
  position: fixed;
  top: 1%;
  left: 70%;
}

.slideCaption {
	display: block;
	width: 70%;
	font-family: siteFont, Century Gothic;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2;
	margin-top: -140px;
	padding-bottom: 0px;
	}	 
	
#productsTitle {
	font-family: siteFont, Tahoma;
	font-size: 28px;
	padding-left: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-right: 30px;
	letter-spacing: 2px;
	text-align: right;
	}
		
.textProducts {
	font-family: siteFont, Tahoma;
	font-size: 16px;
	color: #333333;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 30px;
	text-align: right;
	}
	
.containerProducts {
	display: flex;
	width: 100%;
	padding: 4% 0%;
	box-sizing: border-box;
	height: 50vh;
	}
	
.productButton { 
	padding-bottom: 30px;
	text-align: center;
	}

.pageMenuColumn {
	display: block;
	border: 0px dotted #cccccc;
	width: 80%;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 10px;
	float: left;
	text-align: right;
	font-family: siteFont, Tahoma;
	padding-bottom: 50px;
	}
	
.panelText {
	font-size: 14px; 
	text-align: left; 
	letter-spacing: 1px;	
	}
	
.verticalText {
	writing-mode: vertical-lr; 
	position: absolute; 
	font-family: siteFont, Tahoma;
	font-size: 18px;
	margin-top: 30px;
	letter-spacing: 3px; 
	padding-left: 5px;
	}

/* Clients */

#clients {
	max-width: 100%;
  	background:  url(../Images.png) no-repeat center top;
	background-color: #999708;
	font-family: siteFont, Tahoma;
	padding-top: 50px;
	padding-bottom: 50px;
	}

.clients-container {
	max-width: 1200px;
	position: relative;
	background-color: #999708;
	margin: auto;
	font-family: siteFont, Tahoma;
	padding-bottom: 30px;
	padding-left: 30px;
	}
	
.subHeading {
	font-size: 8px;
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 12px;
	}
	
.question {
	font-size: 50px; 
	line-height: 54px;
	}
	
.clientQuote {
	font-size: 14px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 80px;
	border-left: 1px dotted #cccccc;
	margin-left: 50px;
	}
	
.clientName {
	color: #ffffff;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 0px;
	margin-left: 50px;
	}	
	
.clientButton {
	font-size: 10px;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-right: 50px;
	text-align: right;
	}
	
/* Partners */	
	
.partners-container {
	max-width: 90%;
	display: block;
	position: relative;
	margin: auto;
	}	
	
#partnersTitle {
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-right: 55px;
	text-align: right;
	}
	
.textPartners {
	font-size: 14px;
	padding-left: 20px;
	padding-right: 55px;
	text-align: right;
	}

/* Horizontal Parallax */

.external {
	display: block;
	height: 50vh;
	width: 500px;
	margin-top: -60px;
	margin-left: -70px;
	margin-bottom: -50px;
	}

.horizontal-scroll-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	transform: rotate(-90deg) translate3d(0,-60vh,0);
	transform-origin: right top;
	overflow-y: auto;
	overflow-x: hidden;
	height: 600px;
	perspective: 1px;
	transform-style: preserve-3d;
	padding-bottom: 10rem;
}

.img-wrapper {
	display: block;
	transform: rotate(90deg);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 45vh;
	transform-origin: 50% 50%;
	transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
	transition: 1s;
	}

.img-wrapper:hover {
	min-height: 65vh;
	}

.slower {
	transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
	}

.img-wrapper a {
	overflow: hidden;
	display: block;
	padding: 1vh ;
	background: #efecdb;
	box-shadow: 0 10px 50px #5f2f1182;
	}

img {
	max-width: 45vh;
	max-height: 50vh;
	transition: .5s;
	vertical-align: top;
}

a:hover img {
	filter: none;
	}

/* About Us */

.about-container {
	max-width: 1200px;
	display: block;
	position: relative;
	background-color: #80A629;
	margin: auto;
	font-family: siteFont, Tahoma;
	padding-bottom: 30px;
	padding-left: 30px;
	}

/* FAQs */

#faq {
	display: block;
	margin-top: -20px;
	padding-left: 20px;
	}

.faq-container {
	display: block;
	max-width: 1400px;
	position: relative;
	background-color: #cccccc;
	font-family: siteFont, Tahoma;
	}	

.faqAccordion {
	display: block;
	width: 90%;
	margin-top: 40px;
	margin-left: -20px;
	margin-right: 10px;
	background-color: transparent;
	float: left;
	text-align: left;
	font-family: siteFont, Tahoma;
	color: #333333;
	}

.accordionFaq {
	font-family: siteFont, Tahoma;
	letter-spacing: 2px;
	display: block;
	color: #333333;
	cursor: pointer;
	padding-top: 18px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	transition: 0.4s;
	}

.panelFaq {
	font-size: 14px;
	border-bottom: 1px dotted #333333;
	padding: 0px 25px 0px 25px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	text-align: left;
	font-family: siteFont, Tahoma;
	}
	
.faqTitle {
	font-family: Century Gothic, Tahoma;
	line-height: 36px;
	font-size: 28px; 
	font-weight: bold; 
	letter-spacing: 3px; 
	color: #333333;
	padding-right: 0px;
	padding-left: 0px;
	}
	
#faqQuestion {
	display: block;
	font-family: sitefont, Tahoma;
	line-height: 3px;
	font-size: 16px; 
	letter-spacing: 2px; 
	color: #333333;
	padding-bottom: 25px;
	}

.faq-container {
	display: block;
	max-width: 1200px;
	position: relative;
	background-color: #cccccc;
	margin: auto;
	font-family: siteFont, Tahoma;
	}	

.faqAccordion {
	display: block;
	width: 75%;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 10px;
	background-color: transparent;
	float: left;
	text-align: left;
	font-family: siteFont, Tahoma;
	color: #333333;
	}

.panelFaq {
	font-size: 14px;
	border-bottom: 1px dotted #333333;
	padding: 0px 25px 0px 25px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	text-align: left;
	font-family: siteFont, Tahoma;
	}	
	
.clientButton {
	font-size: 10px;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-right: 50px;
	text-align: right;
	}
	
.faqButton {
	font-size: 10px;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-right: 50px;
	text-align: right;
	}
	
.column {
	width: 100%;
	}
		
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
	}

@media only screen and (min-width: 768px) {
  /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	}

@media only screen and (min-width: 600px) {
  /* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

.column:hover .mainMenuContent {
	display: block;
	}	














